@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: 200;
    font-size: 120%;
    /*background: #F7F7F7 url(pattern.png) fixed;*/
    color: #555;
}

.container {width: 978px; margin: 0 auto;}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11,
.project, .project2, .project3, .project4, .project0, .logo, grid4block {
    float: left;
    display: inline;
    margin-left: 30px;
}

.grid1 { width: 54px }
.grid2 { width: 138px }
.grid3 { width: 222px }
.grid4 { width: 306px }
.grid5 { width: 390px }
.grid6 { width: 474px }
.grid7 { width: 558px }
.grid8 { width: 642px }
.grid9 { width: 726px }
.grid10 { width: 810px }
.grid11 { width: 894px }
.first {margin-left: 0; clear: left;}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.title {
	font-weight: 100;
  font-size: 10ex;
  margin-top:0px;
  margin-bottom:0px;
}

.subtitle {
	font-weight: 100;
  margin-top:0px;
  margin-bottom:0px;
}

.rits {
  font-weight: 400;
  color: Darkred;

}

#nav_red {
    font-weight: 200;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav_red ul {
    background: #cfcfcf;
    height: 40px;
    list-style: none;
}

#nav_red li {
    float: left;
    padding: 0;
    width:138px;
}

#nav_red li a {
    background: #cfcfcf;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    line-height: 40px;
    padding: 0 25px;
}

#nav_red li a:hover {
    text-decoration: none;
    background: Darkred;
    color: #FFF;
}

#nav_red li ul {
    position: absolute;
    background: #222;
    display: none;
    height: auto;
    width: 138px;
    z-index: 2;
}

ul #nav_red li.current {
  background: #000;
}

dl.plan dt {
    float: left;
    width: 8em;
    padding: 0 0 0 2px;
    font-weight: normal;
    /*color: DarkOrange;*/
    font-size: 80%;
}
dl.plan dd {
    margin-left: 8em;
    margin-bottom: .2em;
    padding: 0 0 5px 20px;
    font-size: 80%;
}

dl.place dt {
    float: left;
    width: 6em;
    padding: 0 0 0 2px;
    font-weight: normal;
    color: Darkred;
}
dl.place dd {
    margin-left: 6em;
    margin-bottom: .2em;
    padding: 0 0 5px 10px;
}

dl.profile dt {
    float: left;
    width: 8em;
    padding: 0 0 0 2px;
    font-weight: normal;
    color: DarkRed;
}

dl.profile dd {
    margin-left: 6em;
    margin-bottom: .2em;
    padding: 0 0 5px 10px;
}

.btn {
	background: #EEE;
	border: 2px dotted #CCC;
	color: #111;
	width: 100px;
	padding: 10px 0;
}

.midashi {
  border-bottom:2px dotted Darkred;
  border-left:10px solid Darkred;
  padding:7px;
}

.top {
  border-top: 1px solid #d3381c;
  border-bottom: 1px solid #d3381c;padding:7px;
}

.red{
  color: #fff;
  font-weight: 400;
  background:DarkRed;
  border: solid;
  border-color:Darkred;
  }
.redline{
  border: solid;
  border-color:Darkred;
}

.twitter {
  color:#00aced ;
}
